body {
	color: #666;
	font-size: 14px;
	font-family: Verdana, Arial, sans-serif;
	background-color: #eee;
}
h1 {
	background-color: #fff5ee;
    	padding: 20px;
    	font-size: 1.5em;
}
h2 {

	font-size: 1.2em;
}
.title {
	font-color: #729829;
}
.rc {
	border-radius: 15px;
}
.entry-list {
	background-color: #fefefe;
	padding: 10px;
}
.entry-list div.item {
	padding: 5px 10px;
	border-bottom: 1px dotted #eee;
}
.tiny {
	font-size: 0.6em;
}
.author {
	float: right;
}
.admin {
	border: 1px dotted #990000;
}