body {
	color: #666;
	font-size: 14px;
	font-family: Verdana, Arial, sans-serif;
	background-color: #eee;
	padding: 20px;
}
h1 {
	background-color: #fff;
    	padding: 20px;
    	font-size: 1.5em;
}
h2 {

	font-size: 1.2em;
	border-bottom: 2px solid #eee;
}
.title {
	color: #729829;
	margin-bottom: 0;
	margin-top: 10px;
}
.rc {
	border-radius: 8px;
}
.entry-list {
	background-color: #fefefe;
	padding: 10px 20px;
	margin: 10px 0;
}
.entry-list div.item {
	padding: 5px 0;
	border-bottom: 1px dotted #eee;
}
.item p {
	margin: 20px 0;
}
.tiny {
	font-size: 0.8em;
}
.author {
	margin-bottom: 20px;
}
.admin {
	border: 1px dotted #990000;
}
.form-row {
	padding: 5px 0;
}
label {
	display: block;
}
textarea {
	width: 100%;
}
.red {
	color: #990000;
}
.content {
	padding: 10px;
}

.comments {
	border: 1px dotted #9CCAA5;
	padding: 10px 15px;
	margin-top: 10px;
}
.comments label {
	font-weight: normal;
}